:root {
    --forbie-brown: #c37649;
    --forbie-blue: #2e6ea0;
}

@font-face {
    font-family: 'Artegra Soft';
    src: local('Artegra Soft Medium'), local('Artegra-Soft-Medium'),
    url('ArtegraSoft-Medium.woff2') format('woff2'),
    url('ArtegraSoft-Medium.woff') format('woff'),
    url('ArtegraSoft-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


body {
    font-family: 'Artegra Soft', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background: var(--forbie-brown);
    background: linear-gradient(0deg, rgba(173,101,58,1) 20%, rgba(173,101,58,0.5) 70%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.forbie-logo {
    height: 200px;
}

.forbie-logo-tagline {
    margin-top: 20px;
    margin-left: 0;
    height: 120px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 680px;
    max-width: 1200px;
    margin-top: 48px;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .header-element {

}

.left-element {
    justify-content: center;
}

.right-element {
    justify-content: center;
    padding-right: 40px;
    width: 340px;
}

.header-text {
    font-size: 24px;
}

.phone {
    height: 360px;
}

.blue-text {
    color: var(--forbie-blue)
}

.flyer-body {
    display: flex;
    flex-direction: row;
    max-width: 1366px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
}

.column-left {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}

.column-left .header-container {
    width: 390px;
    text-align: center;
}

.column-left .header-container .title {
    margin: 0;
}

.column-left .header-container .content {
    margin: 0;
}

.column-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.column-right h2 {
    text-align: center;
    margin: 0;
}

.column-right ul li {
    font-size: 20px;
    margin: 0;
}

.icon-blue {
    width: 24px;
    height: 24px;
    filter: invert(33%) sepia(73%) saturate(481%) hue-rotate(163deg) brightness(101%) contrast(88%);
}

.filter-brown {
    filter: invert(53%) sepia(65%) saturate(405%) hue-rotate(339deg) brightness(85%) contrast(91%);
}

.filter-blue {
    filter: invert(33%) sepia(73%) saturate(481%) hue-rotate(163deg) brightness(101%) contrast(88%);
}

.icon-white {
    width: 24px;
    height: 24px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(120deg) brightness(101%) contrast(101%);
}

.icon-frame {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.icon-doctor-note {
    width: 50px;
    height: 50px;
}

.icon-frame-brown {
    background-color: var(--forbie-brown);
}

.icon-frame-blue {
    background-color: var(--forbie-blue);
}

.icon-row {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-top: 24px;
}

.icon-text {
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
}

.icon-tex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-container {
    margin-top: 48px;
    width: 400px;
}

.testimonial-container div {
    font-size: 20px;
    text-align: center;
}

.invitation-box {
    background-color: var(--forbie-brown);
    padding: 16px;
    width: 240px;
    border-radius: 8px;
    margin-top: 64px;
}

.invitation-box div {
    text-align: center;
}

.invitation-box p {
    text-align: justify;
}

.disclaimer-container {
    padding: 50px;
    display: flex;
    justify-content: center;
}
